playground/xml/parameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/parameterSchema"
	elementFormDefault="qualified"
	targetNamespace="http://www.example.org/parameterSchema">
	
	<complexType name="parameter">
		<sequence>
			<element name="param" type="tns:node" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
	
	<complexType name="node">
		<attribute name="name" type="string" use="required" />
		<attribute name="value" type="string" use="required" />
	</complexType>
	
</schema>
